body {
}


nav a {
color: white;
padding: 10px;
display: inline-block;
text-decoration: none;
}


section {
padding: 20px;
background: white;
margin: 10px;
}


.cards {
display: flex;
gap: 10px;
}


.card {
background: #ffe0b2;
padding: 15px;
border-radius: 10px;
}


form input, form textarea, button {
width: 100%;
margin: 5px 0;
padding: 10px;
}


button {
background: #ff6f61;
color: white;
border: none;
}


.dashboard {
display: grid;
grid-template-columns: repeat(2, 1fr);
gap: 10px;
}


.box {
background: #c8e6c9;
padding: 15px;
}


table {
width: 100%;
border-collapse: collapse;
}


table, th, td {
border: 1px solid #ccc;
}


footer {
background: #333;
color: white;
text-align: center;
padding: 10px;
}
